<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	
	<title>Electronic Medical Records</title>
	
</head>

<body>

	<div th:replace="fragments/common::emr-main-navbar"></div>

	<!-- Vertical form modal -->
	<div id="modal_form_vertical" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title">Staff Information</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<form th:action="@{/personnels}" method="post" th:object="${personnel}">
                    <input type="hidden" th:field="*{userType}" />
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">								    
				                    <label for="firstName">First name</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				                    <input id="firstName" th:field="*{firstName}" placeholder="First name" type="text" class="form-control" >
				                </div>
				                
				                
				                <div class="col-sm-6">				                    
				                    <label for="lastName">Last name</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				                    <input id="lastName" th:field="*{lastName}" placeholder="Last name" type="text" class="form-control" >
				                </div>
				            </div>
						</div>
						
						<div class="form-group">
							<div class="row">       
				                <div class="col-sm-6">
				                    <label for="gender">Gender</label>
				                    <select id="gender" th:field="*{gender}" class="form-control">
				                        <option value="M" th:selected="*{gender == 'M'}">MALE</option>
				                        <option value="F" th:selected="*{gender == 'F'}">FEMALE</option>
				                    </select>
				                </div>
				                
				                
				                <div class="col-sm-6">				                    
				                    <label for="contactNumber">Mobile</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></span>
				                    <input id="contactNumber" th:field="*{contactNumber}" title="enter your mobile number if any." placeholder="enter mobile number" type="text" class="form-control">
				                </div>
				            </div>
						</div>

						<div class="form-group">
							<div class="row">    
				                <div class="col-sm-6">				                    
				                    <label for="username">Username</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				                    <input id="username" th:field="*{username}" title="enter your username." placeholder="Username" type="text" class="form-control" >
				                </div>
				                
				                <div class="col-sm-6">				                    
				                    <label for="password">Password</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				                    <input id="password" th:field="*{password}" title="enter your password." placeholder="Password" type="password" class="form-control" >
				                </div>
				           </div>
						</div>
						
						<div class="form-group">
							<div class="row">    
				                <div class="col-sm-6">				                    
				                    <label for="email">Email</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				                    <input id="email" th:field="*{email}" title="enter your email." placeholder="Email Address" type="email" class="form-control" >
				                </div>
				                
				                <div class="col-sm-6">
				                    <label for="address">Address</label>
				                    <input id="address" th:field="*{address}" placeholder="Address" type="text" class="form-control" >
				                </div>
							</div>
						</div>
						
						<hr>
						
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						<button type="submit" class="btn bg-primary">Save Info</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /vertical form modal -->
	
	<!-- modal form edit -->
    <div id="modal_form_edit" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title">Staff Information</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<form th:action="@{/personnels/edit}" method="post" th:object="${personnelDto}" class="editPersonnelForm">
				    <input type="hidden" th:field="*{id}" id="personnelId">
                    <input type="hidden" th:field="*{userType}" />
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">								    
				                    <label for="_firstName">First name</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				                    <input id="_firstName" th:field="*{firstName}" placeholder="First name" type="text" class="form-control" >
				                </div>
				                
				                
				                <div class="col-sm-6">				                    
				                    <label for="_lastName">Last name</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				                    <input id="_lastName" th:field="*{lastName}" placeholder="Last name" type="text" class="form-control" >
				                </div>
				            </div>
						</div>
						
						<div class="form-group">
							<div class="row">       
				                <div class="col-sm-6">
				                    <label for="_gender">Gender</label>
				                    <select id="_gender" th:field="*{gender}" class="form-control">
				                        <option value="M" th:selected="*{gender == 'M'}">MALE</option>
				                        <option value="F" th:selected="*{gender == 'F'}">FEMALE</option>
				                    </select>
				                </div>
				                
				                
				                <div class="col-sm-6">				                    
				                    <label for="_contactNumber">Mobile</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></span>
				                    <input id="_contactNumber" th:field="*{contactNumber}" title="enter your mobile number if any." placeholder="enter mobile number" type="text" class="form-control">
				                </div>
				            </div>
						</div>

						<div class="form-group">
							<div class="row">    
				                <div class="col-sm-6">				                    
				                    <label for="_email">Email</label>
				                    <span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				                    <input id="_email" th:field="*{email}" title="enter your email." placeholder="Email Address" type="email" class="form-control" >
				                </div>
				                
				                <div class="col-sm-6">
				                    <label for="_address">Address</label>
				                    <input id="_address" th:field="*{address}" placeholder="Address" type="text" class="form-control" >
				                </div>
							</div>
						</div>
						
						<hr>
						
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
						<button type="submit" class="btn bg-primary">Save Info</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal form edit -->
					
	<!-- Page content -->
	<div class="page-content">	

    <div th:replace="fragments/common::emr-main-sidebarnav"></div>

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><span class="font-weight-semibold">Doctor's Staffs</span></h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>					
				</div>
			</div>
			<!-- /page header -->
            

			<!-- Content area -->
			<div class="content pt-0">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-12">
						<!-- Basic datatable -->
						<div class="card">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Doctor's Staff List</h5>
								<div class="header-elements">
									<div class="list-icons">				                				
				                		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_form_vertical" id="addSystemUserButton">Add Staff</button>		                		
				                	</div>
			                	</div>
							</div>
		
							<div class="card-body">
								This table shows the list of doctor's staffs.
							</div>
		
							<table class="table table-bordered table-hover" id="system-user-list">
								<thead>
									<tr>
										<th>Personnel Name</th>
										<th>Designation</th>
										<th>Gender</th>
										<th>Contact No.</th>
										<th>Status</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="personnel : ${personnels}">
										<td>
											<div class="d-flex align-items-center">												
												<div>
													<a href="#" class="text-default font-weight-semibold" th:text="${personnel.fullName}">Chris Macintyre</a>													
												</div>
											</div>
										</td>
										<td>
											<div th:switch="${personnel.userType}" class="mr-3">
												<span th:case="'ROLE_DOCTOR_EMR'" class="badge bg-success-400">Doctor</span>
												<span th:case="'ROLE_DOCTOR'" class="badge bg-success-400">Doctor</span>
												<span th:case="'ROLE_NURSE'" class="badge bg-warning-400">Nurse</span>
												<span th:case="'ROLE_MED_TECH'" class="badge bg-violet-400">Medical Technician</span>
												<span th:case="'ROLE_STAFF'" class="badge bg-violet-400">Doctors Staff</span>
												<span th:case="'ROLE_ADMIN'" class="badge bg-violet-400">Admin</span>
											</div>
										</td>
										<td>
											<div th:switch="${personnel.gender}" class="mr-3">
												<span th:case="'M'">Male</span>
												<span th:case="'F'">Female</span>
											</div>
										</td>
										<td th:text="${personnel.contactNumber}">09154270248</td>
										<td><span class="badge badge-success" th:text="${personnel.status}">Active</span></td>
										<td class="text-center">
											<button th:onclick="|setPersonnelIdInForm('${personnel.id}')|" class="btn btn-primary" th:id="|editPersonnelButton${personnel.id}|"
											    data-toggle="modal" data-target="#modal_form_edit"
											    th:data-firstName="${personnel.firstName}"
											    th:data-lastName="${personnel.lastName}"
											    th:data-gender="${personnel.gender}"
											    th:data-address="${personnel.address}"
											    th:data-contactNumber="${personnel.contactNumber}"
											    th:data-email="${personnel.email}"
											    th:data-status="${personnel.status}"
											    th:data-userType="${personnel.userType}"
											    th:data-credentials="${personnel.credentials}"
											    th:data-licenseNumber="${personnel.licenseNumber}"
											    th:data-specialization="${personnel.specialization}"
											    th:data-ptrNumber="${personnel.ptrNumber}"
											    th:data-sNumber="${personnel.sNumber}"
											    >View Record</button>
										</td>
									</tr>								
								</tbody>
							</table>
						</div>
						<!-- /basic datatable -->					
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->    

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
        function setPersonnelIdInForm(id) {
        	console.log($('.editPersonnelForm').attr('action'));
        	$('#personnelId').val(id);
        	console.log('personnelId: ', id);
        	let editPersonnelButton = document.querySelector('#editPersonnelButton'+id);
        	console.log(editPersonnelButton.dataset);
        	$('#_firstName').val(editPersonnelButton.dataset.firstname);
        	$('#_lastName').val(editPersonnelButton.dataset.lastname);
        	$('#_gender').val(editPersonnelButton.dataset.gender);
        	$('#_address').val(editPersonnelButton.dataset.address);
        	$('#_contactNumber').val(editPersonnelButton.dataset.contactnumber);
        	$('#_email').val(editPersonnelButton.dataset.email);
        	$('#_userType').val(editPersonnelButton.dataset.usertype);
        	$('#_credentials').val(editPersonnelButton.dataset.credentials);
        	$('#_licenseNumber').val(editPersonnelButton.dataset.licensenumber);
        	$('#_specialization').val(editPersonnelButton.dataset.specialization);
        	$('#_ptrNumber').val(editPersonnelButton.dataset.ptrnumber);
        	$('#_sNumber').val(editPersonnelButton.dataset.snumber);
        }
        
	    $(document).ready(function() {
	    	
	    	$(".nav-link").removeClass("bg-slate-600");
	    	$(".navbar-nav-link").removeClass("bg-slate-300");	    	
			$("#adminModuleNav").addClass("bg-slate-600");
			$("#personnel2ndNav").addClass("bg-slate-300");
			
			let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: "Personnel successfully saved.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
	    	
			$('#system-user-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false,
                "columnDefs": [
				    { "width": "70%", "targets": 0 }
				],
			});
			
			if (/*[[${isValidationErrorOnAdd}]]*/ false) {
	    		$('#addSystemUserButton').click();
	    	}
			if (/*[[${isValidationErrorOnEdit}]]*/ false) {
	    		$('#editPersonnelButton'+/*[[${personnelDto.id}]]*/'').click();
	    	}
	    });
	    
	</script>

</body>
</html>
