<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>

	<script th:src="@{/assets/js/change_password.js}"></script>

	<title>Electronic Medical Records</title>	
	
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->
					
	<!-- Page content -->
	<div class="page-content">
				
		
		<!-- Main content -->
		<div class="content-wrapper">

			
			<!-- Content area -->
			<div class="content pt-0" style="margin-top: 100px;">			

					<!-- Vertical form options -->
					<div class="row">
						<div class="col-lg-6 offset-lg-3">

							<!-- Change Password -->
							<div class="card">
								<div class="text-center mb-3" style="padding-top: 30px;">
									<h5 class="mb-0">Change Password</h5>
								</div>

								<div class="card-body">
									<form action="#" id="changepassform" class="flex-fill" method="POST" th:action="@{/changePassword}" th:object="${changepassDto}">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group form-group-feedback form-group-feedback-right">
													<input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" placeholder="Your Old Password">
													<div class="form-control-feedback">
														<i class="icon-key text-muted"></i>
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group form-group-feedback form-group-feedback-right">
													<input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" placeholder="Your New Password">
													<div class="form-control-feedback">
														<i class="icon-key text-muted"></i>
													</div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group form-group-feedback form-group-feedback-right">
													<input type="password" class="form-control" id="confirmNewPassword" th:field="*{confirmNewPassword}" placeholder="Re-type New Password">
													<div class="form-control-feedback">
														<span id="message"></span>
														<i class="icon-key text-muted"></i>
													</div>
												</div>
											</div>
										</div>

										<div class="text-right">
											<button id="submit" type="submit" class="btn btn-primary" disabled="true">Submit <i class="icon-paperplane ml-2"></i></button>
										</div>
									</form>

								</div>
							</div>
							<!-- /Account Information -->

						</div>


					</div>
					<!-- /vertical form options -->

			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->   
			
		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
		function setPatientIdInForm(id){
			//Set Id in Modal for CJ
			console.log($('#patientId').val());
			$('#patientId').val(id);
			console.log(document.getElementById('patientId').value);
		}
		
		function viewRecord(id){
			//Redirect to Patient Record
			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
			window.location.href = contextRoot + "/emrpatientrecord/" + id;
		}
	</script>

    <script th:inline="javascript">
	    
	    $(document).ready(function() {     
	    	
	    	$(".nav-link").removeClass("active");
			$("#emrDoctorProfileNav").addClass("active");
	    	
	    	let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';	    	
	    	let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
	    	
	    	
	    	
	    });
    
    </script>

</body>
</html>
