<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	
	<title>Electronic Medical Records</title>	
	
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::emr-main-navbar"></div>
	<!-- /Main Navbar -->
					
	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div th:replace="fragments/common::emr-main-sidebarnav"></div>
		<!-- /Main sidebar -->		
		
		
		<!-- Main content -->
		<div class="content-wrapper">

			
			<!-- Content area -->
			<div class="content pt-0">			

				<div class="row">
					<div class="col-xl-12">		
					
						<!-- Profile info -->
							<div class="card">
								<div class="card-header header-elements-inline">
									<h5 class="card-title">Doctor Profile information</h5>
									
								</div>

								<div class="card-body">
									<form th:action="@{/emr/profile/edit}" method="post" th:object="${personnelDto}" class="editPersonnelForm">
									    <input type="hidden" th:field="*{id}" id="personnelId" />
									    <input type="hidden" th:field="*{userType}" />
										<div class="modal-body">
											<div class="form-group">
												<div class="row">
													<div class="col-sm-6">													    
									                    <label for="_firstName">First name</label>
									                    <span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
									                    <input id="_firstName" th:field="*{firstName}" placeholder="First name" type="text" class="form-control" >
									                </div>
									                
									                
									                <div class="col-sm-6">									                    
									                    <label for="_lastName">Last name</label>
									                    <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
									                    <input id="_lastName" th:field="*{lastName}" placeholder="Last name" type="text" class="form-control" >
									                </div>
									            </div>
											</div>
											
											<div class="form-group">
												<div class="row">       
									                <div class="col-sm-4">
									                    <label for="_gender">Gender</label>
									                    <select id="_gender" th:field="*{gender}" class="form-control">
									                        <option value="M" th:selected="*{gender == 'M'}">MALE</option>
									                        <option value="F" th:selected="*{gender == 'F'}">FEMALE</option>
									                    </select>
									                </div>									                
									                
									                <div class="col-sm-4">									                    
									                    <label for="_contactNumber">Mobile</label>
									                    <span class="validationError text-danger" th:if="${#fields.hasErrors('contactNumber')}" th:errors="*{contactNumber}"></span>
									                    <input id="_contactNumber" th:field="*{contactNumber}" title="enter your mobile number if any." placeholder="enter mobile number" type="text" class="form-control">
									                </div>
									                
									                <div class="col-sm-4">									                    
									                    <label for="_email">Email</label>
									                    <span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
									                    <input id="_email" th:field="*{email}" title="enter your email." placeholder="Email Address" type="email" class="form-control" >
									                </div>
									            </div>
											</div>
					
											
					
											<div class="form-group">
												<div class="row">         
									                    <div class="col-sm-12">
									                        <label for="_address">Address</label>
									                        <input id="_address" th:field="*{address}" placeholder="Address" type="text" class="form-control" >
									                    </div>
												</div>
											</div>
											
																	
											
											<div class="form-group">
												<div class="row">
									                    
									                    <div class="col-sm-12">
									                        <label for="_credentials">Credentials</label>
									                        <input id="_credentials" th:field="*{credentials}" placeholder="Credentials" type="text" class="form-control" >
									                    </div>
									            </div>
											</div>
					
											<div class="form-group">
												<div class="row">
									                    <div class="col-sm-6">
									                        <label for="_specialization">Specialization</label>
									                        <input id="_specialization" th:field="*{specialization}" placeholder="Specialization" type="text" class="form-control" >
									                    </div>
									                    
									                    <div class="col-sm-6">
									                        <label for="_licenseNumber">License No.</label>
									                        <input id="_licenseNumber" th:field="*{licenseNumber}" placeholder="License No." type="text" class="form-control" >
									                    </div>
									            </div>
											</div>
					
											<div class="form-group">
												<div class="row">
									                    <div class="col-sm-6">
									                        <label for="_ptrNumber">PTR No.</label>
									                        <input id="_ptrNumber" th:field="*{ptrNumber}" placeholder="PTR No." type="text" class="form-control" >
									                    </div>
									                    <div class="col-sm-6">
									                        <label for="_sNumber">S2 No.</label>
									                        <input id="_sNumber" th:field="*{sNumber}" placeholder="S2 No." type="text" class="form-control" >
									                    </div>
									             </div>
											</div>
										</div>
					
										<div class="modal-footer">											
											<button type="submit" class="btn bg-primary">Save Info</button>
										</div>
									</form>
								</div>
							</div>
							<!-- /profile info -->				
					
					</div>
				</div>
				
				
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Main sidebar -->
			<div th:replace="fragments/common::emr-footer"></div>
			<!-- /Main sidebar -->
			
		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
		function setPatientIdInForm(id){
			//Set Id in Modal for CJ
			console.log($('#patientId').val());
			$('#patientId').val(id);
			console.log(document.getElementById('patientId').value);
		}
		
		function viewRecord(id){
			//Redirect to Patient Record
			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
			window.location.href = contextRoot + "/emrpatientrecord/" + id;
		}
	</script>

    <script th:inline="javascript">
	    
	    $(document).ready(function() {     
	    	
	    	$(".nav-link").removeClass("active");
			$("#emrDoctorProfileNav").addClass("active");
	    	
	    	let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';	    	
	    	let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: "Profile successfully saved.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
	    	
	    	
	    	
	    });
    
    </script>

</body>
</html>
