<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>

    <link rel="stylesheet" th:href="@{/js/jquery.flexdatalist.min.css}">

    <th:block th:replace="fragments/common::header-import-js"></th:block>

	<title>Electronic Medical Records</title>


</head>

<body>

<!-- Main Navbar -->
<div th:replace="fragments/common::main-navbar-patient-record-emr"></div>
<!-- /Main Navbar -->

<!-- Secondary navbar -->
<div th:replace="fragments/common::emr-secondary-navbar-patient-record"></div>
<!-- /secondary navbar -->


<!-- admit form modal -->
<div id="modal_form_consultation" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title">Consultation Details</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<form th:action="@{/emrconsultations}" th:object="${emrConsultation}" method="post" id="admit-form">
				<input type="hidden" th:field="*{id}" id="emrConsultationId">
				<input type="hidden" th:field="*{patient.id}">
				<input type="hidden" th:field="*{consultationStatus}">
				<div class="modal-body">
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4">
								<label for="consultationDate">Consultation Date</label>
								<span class="validationError text-danger" th:if="${#fields.hasErrors('consultationDate')}" th:errors="*{consultationDate}"></span>
								<input id="consultationDate" th:field="*{consultationDate}" placeholder="Consultation Date" type="date" class="form-control" >
							</div>
							<div class="col-sm-4">
								<label for="paymentType">Payment Type</label>
								<select th:field="*{paymentType}" id="paymentType" class="form-control">
									<option value='CASH'>CASH</option>
									<option value='HMO'>HMO</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label for="clinic_id">Clinic</label>
								<select id="clinic_id" name="clinic.id" class="form-control">
									<option th:each="clinic : ${allClinics}" th:value="${clinic.id}" th:text="${clinic.name}">
								</select>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-8">
								<label for="hmoName">HMO Name</label>
								<select th:field="*{hmoName}" id="hmoName" class="form-control">
									<option value=''>- Select Service Provider -</option>
									<option th:each="hmo : ${hmos}"
											th:value="${hmo.hmoName}"
											th:text="${hmo.hmoName}"
											th:selected="${hmo.hmoName==emrConsultation.hmoName}">HMO</option>
								</select>
							</div>
							<div class="col-sm-4">
								<label for="consultationFee">Consultation Fee</label>
								<span class="validationError text-danger" th:if="${#fields.hasErrors('consultationFee')}" th:errors="*{consultationFee}"></span>
								<input id="consultationFee" th:field="*{consultationFee}" placeholder="Consultation Fee" type="text" class="form-control" >
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-3">
								<label for="temperature">Temp (&deg;C)</label>
								<input id="temperature" th:field="*{temperature}" placeholder="0.0" type="number" class="form-control" >
							</div>
							<div class="col-sm-3">
								<label for="weight">Weight (Kg)</label>
								<span class="validationError text-danger" th:if="${#fields.hasErrors('weight')}">Invalid Value</span>
								<input id="weight" th:field="*{weight}" placeholder="0.0" type="number" class="form-control" >
							</div>
							<div class="col-sm-3">
								<label for="height">Height (cm)</label>
								<span class="validationError text-danger" th:if="${#fields.hasErrors('height')}">Invalid Value</span>
								<input id="height" th:field="*{height}" placeholder="0.0" type="number" class="form-control" >
							</div>
							<div class="col-sm-3">
								<label for="bloodPressure">BP</label>
								<input id="bloodPressure" th:field="*{bloodPressure}"  placeholder="0/0" type="text" class="form-control" >
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="symptoms">Complaints/Symptoms</label>
								<textarea rows="3" class="form-control" th:field="*{symptoms}" placeholder="Complaints" cols="50" maxlength="950" ></textarea>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="physical">Physical Examination (PE)</label>
								<textarea rows="3" class="form-control" th:field="*{physical}" id="physical" placeholder="Physical Examination (PE)" cols="50" maxlength="950" ></textarea>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="diagnosis">Diagnosis</label>
								<!-- <textarea rows="3" class="form-control" th:field="*{diagnosis}" id="diagnosis" placeholder="Diagnosis" cols="50" maxlength="950" ></textarea> -->
								<input type="text" class="form-control flexdatalist" id="diagnosisArea" th:field="*{diagnosisJSON}" placeholder="Diagnosis"
									   data-search-in="description"
									   data-search-by-word="true"
									   data-min-length="1"
									   multiple="multiple"
									   data-selection-required="true"
									   data-visible-properties='["code","description"]'
									   data-text-property="{code} - {description}"
									   data-value-property='["id","code","description"]'>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
								<label for="intervention">Intervention</label>
								<textarea rows="3" class="form-control" th:field="*{intervention}" placeholder="Intervention" cols="50" maxlength="950" ></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
					<button type="submit" class="btn bg-primary">Save Info</button>
					<button type="submit" class="btn bg-primary" onclick="setConsultationStatus()">Save Info and Mark as PROCESSED</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /admit form modal -->

<!-- Page content -->
<div class="page-content">

	<!-- Main content -->
	<div class="content-wrapper">

		<!-- Content area -->
		<div class="content">

			<!-- Inner container -->
			<div class="d-md-flex align-items-md-start">

				<!-- Left sidebar component -->
				<div th:replace="fragments/common::emr-left-side-patient-profile"></div>
				<!-- /left sidebar component -->


				<!-- Right content -->
				<div class="tab-content w-100">
					<div class="tab-pane fade active show" id="profile">

						<!-- Consultation Table -->
						<div class="row">
							<div class="col-xl-12">
								<!-- Basic datatable -->
								<div class="card">
									<div class="card-header header-elements-inline">
										<h5 class="card-title">Consultation List</h5>
										<div class="header-elements">
											<div class="list-icons">
												<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_form_consultation" id="addConsultationButton">Add Consultation</button>
											</div>
										</div>
									</div>

									<div class="card-body">
										<table class="table table-bordered table-hover" id="consultation-list">
											<thead>
											<tr>
												<th>Date</th>
												<th>Complaints</th>
												<th>Physical Examination</th>
												<th>Diagnosis</th>
												<th>Intervention</th>
												<th class="text-center">Actions</th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="ec : ${emrConsultations}">
												<td>
													<div class="d-flex align-items-center">
														<div>
															<a href="#" class="text-default font-weight-semibold" th:text="${#temporals.format(ec.consultationDate,'MMM d, yyyy')}">2020-12-06</a>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex align-items-center">
														<div>
															<a href="#" class="text-default font-weight-semibold" th:text="${ec.symptoms}">2020-12-06</a>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex align-items-center">
														<div>
															<a href="#" class="text-default font-weight-semibold" th:text="${ec.physical}">2020-12-06</a>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex align-items-center">
														<div>
															<a href="#" class="text-default font-weight-semibold" th:each="ecd : ${ec.diagnosis}"
															   th:text="|${ecd.description}, |">2020-12-06</a>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex align-items-center">
														<div>
															<a href="#" class="text-default font-weight-semibold" th:text="${ec.intervention}">2020-12-06</a>
														</div>
													</div>
												</td>
												<td class="text-center">
													<button th:onclick="|setValuesInForm('${ec.id}')|" class="btn btn-primary" th:id="|viewConsultationButton${ec.id}|"
															data-toggle="modal" data-target="#modal_form_consultation"
															th:data-id="${ec.id}"
															th:data-consultationDate="${ec.consultationDate}"
															th:data-paymentType="${ec.paymentType}"
															th:data-clinic-id="${ec.clinic.id}"
															th:data-hmoName="${ec.hmoName}"
															th:data-hmoPaid="${ec.hmoPaid}"
															th:data-consultationFee="${ec.consultationFee}"
															th:data-consultationStatus="${ec.consultationStatus}"
															th:data-temperature="${ec.temperature}"
															th:data-weight="${ec.weight}"
															th:data-height="${ec.height}"
															th:data-bloodPressure="${ec.bloodPressure}"
															th:data-symptoms="${ec.symptoms}"
															th:data-physical="${ec.physical}"
															th:data-intervention="${ec.intervention}"
															th:data-diagnosisJSON="${ec.diagnosisJSON}"
													>View Record</button>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- /basic datatable -->
							</div>
						</div>
						<!-- /Consultation Table -->

					</div>
				</div>
				<!-- /right content -->

			</div>
			<!-- /inner container -->


		</div>
		<!-- /content area -->


		<!-- Footer -->
		<div th:replace="fragments/common::footer"></div>
		<!-- /Footer -->

	</div>
	<!-- /main content -->

</div>
<!-- /page content -->
<script th:src="@{/js/jquery.flexdatalist.min.js}"></script>
<script th:inline="javascript">

		var i = 0;
		var brandNameArr = [];

		let consultationId = /*[[${selectedConsultationId}]]*/0;

		function resetRowNum() {
			i = 0;
		}

	    $(document).ready(function() {
			$('.flexdatalist').flexdatalist();
	    	
	    	$("#diagnosisArea-flexdatalist").on("keyup", function(e) {
	    	    let ctxpath = /*[[${#request.getContextPath()}]]*/'';
	    	    let kw = e.target.value;
	    		$('.flexdatalist').flexdatalist('url', ctxpath+'/icd/datalist/'+kw);
			});


	    	if (consultationId > 0) {
	    		let viewConsultationButton = document.querySelector('#viewConsultationButton'+consultationId);
	    		viewConsultationButton.click();
	    	}

	    	$(".navbar-nav-link").removeClass("bg-slate-300");
			$("#emrPatientDashboard2ndNav").addClass("bg-slate-300");

			if ($('#paymentType').val() === 'HMO') {
				$('#hmoName').prop('disabled', false);
			} else {
				$('#hmoName').val('');
				$('#hmoName').prop('disabled', true);
			}

			$(document).on('change', 'select#paymentType', function(e) {
				if (e.target.value === 'HMO') {
					$('#hmoName').prop('disabled', false);
				} else {
					$('#hmoName').val('');
					$('#hmoName').prop('disabled', true);
				}
			});

			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);

		    let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
        	let uploadUrl = contextRoot + '/file/upload/profilePhoto';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	fd.append(/*[[${_csrf.parameterName}]]*/'_csrf',/*[[${_csrf.token}]]*/'_csrf_token')
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});

		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Patient Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					});
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Patient Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}


		    	//document.getElementById('photoPreview').src = contextRoot + result.downloadUri;
		    };

	    });

	    let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
		let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';

		if(msgCode === 'ERRORCONSULT'){
			$('#modal_form_consultation').modal('show');
			swal({
				title: "Error!",
				text: msgDesc,
				icon: "error",
				buttons: false,
	            timer: 2000,
			});
		} else if(msgCode === 'SUCCESSCONSULT'){
			swal({
				title: "Success!",
				text: "Patient info saved successfully.",
				icon: "success",
				buttons: false,
	            timer: 2000,
			})
			.then((value) => {
				window.location.reload();
			    //window.location.href = /*[[${#request.getContextPath() + '/emrdashboard'}]]*/"";
			});
		}

		function setConsultationStatus() {
			$('#consultationStatus').val('PROCESSED');
		}

		function setValuesInForm(id) {
			let viewConsultationButton = document.querySelector('#viewConsultationButton'+id);
			$('#emrConsultationId').val(viewConsultationButton.dataset.id);
			$('#consultationDate').val(viewConsultationButton.dataset.consultationdate);
			$('#paymentType').val(viewConsultationButton.dataset.paymenttype);
			$('#clinic_id').val(viewConsultationButton.dataset.clinicId);
			$('#hmoName').val(viewConsultationButton.dataset.hmoname);
			//$('#hmoPaid').val(viewConsultationButton.dataset.hmoPaid);
			$('#consultationFee').val(viewConsultationButton.dataset.consultationfee);
			$('#consultationStatus').val(viewConsultationButton.dataset.consultationstatus);
			$('#temperature').val(viewConsultationButton.dataset.temperature);
			$('#weight').val(viewConsultationButton.dataset.weight);
			$('#height').val(viewConsultationButton.dataset.height);
			$('#bloodPressure').val(viewConsultationButton.dataset.bloodpressure);
			$('#symptoms').val(viewConsultationButton.dataset.symptoms);
			$('#physical').val(viewConsultationButton.dataset.physical);
			$('#intervention').val(viewConsultationButton.dataset.intervention);
			$('#diagnosisJSON').val(viewConsultationButton.dataset.diagnosisjson);

			if ($('#paymentType').val() === 'HMO') {
				$('#hmoName').prop('disabled', false);
			} else {
				$('#hmoName').val('');
				$('#hmoName').prop('disabled', true);
			}
		}

		function clearConsultationModalFields() {
			$('#emrConsultationId').val('');
			$('#consultationDate').val('');
			$('#paymentType').val('');
			$('#hmoName').val('');
			$('#consultationFee').val('');
			$('#consultationStatus').val('');
			$('#temperature').val('');
			$('#weight').val('');
			$('#height').val('');
			$('#bloodPressure').val('');
			$('#symptoms').val('');
			$('#physical').val('');
			$('#intervention').val('');
			$('#diagnosisJSON').val('');
		}

		function previewImage() {
			let input = document.getElementById('profilePhoto');
			let img = document.getElementById('photoPreview');
			if (input.files && input.files[0]) {
        		var reader = new FileReader();
        		reader.onload = function(e) {
        			img.src = e.target.result;
        		}
        		reader.readAsDataURL(input.files[0]);
        	}
		}

		function uploadProfilePhoto() {
			let formData = new FormData();
        	formData.append('profilePhoto', profilePhoto.files[0]);
        	formData.append('patientId', document.getElementById('patient.id').value);

        	let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
        	let uploadUrl = contextRoot + '/file/upload';
        	let promise = fetch(uploadUrl, {
        		method: 'POST',
        		credentials: 'include',
                body: formData
        	})
        	.then(res => res.json())
        	.then(json => document.getElementById('photoPreview').src = json.downloadUri)
        	.catch(err => console.log('HTTP-Error: ' + err));
		}

	</script>

</body>
</html>
