<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	
	<title>Electronic Medical Records</title>	
	
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::emr-main-navbar"></div>
	<!-- /Main Navbar -->
					
	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div th:replace="fragments/common::emr-main-sidebarnav"></div>
		<!-- /Main sidebar -->		
		
		<!-- Vertical form modal -->
				<div id="modal_form_vertical" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<h5 class="modal-title">Patient Information</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form id="addPatientForm" th:action="@{/emrpatients}" method="post" th:object="${patient}" enctype="multipart/form-data">
								<input type="hidden" th:field="*{doctor.id}" id="doctorId">
								<input type="hidden" th:field="*{isActive}" name="isActive" id="isActive">
								<div class="modal-body">
									<div class="form-group">
										<div class="row">    
											<div class="col-sm-4">&nbsp;</div>
							                <div class="col-sm-4">
							                     <div class="card" th:object="${patient}">
													<div class="card card-body text-center">
														<div class="card-img-actions d-inline-block mb-3 ">									
															<img id="photoPreview" class="img-fluid rounded-circle card-img-top" th:src="|@{*{patientPhoto == null ? '/images/avatar.png' : patientPhoto}}|" width="150" height="150" alt="">
															<div class="card-img-actions-overlay card-img rounded-circle">
																<button type="button" id="fileSelect" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
																	<i class="icon-camera"></i>
																</button>											
															</div>									
														</div>									
														<div>
														    <input type="file" name="photoFile" id="photoFile" accept="image/*" class="inputfile" />
														</div>
													</div>
												</div>
							                </div>
							                <div class="col-sm-4">&nbsp;</div>
							           </div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
							                        <label for="firstName">First name</label>
							                        <span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
							                        <input id="firstName" name="firstName" th:field="*{firstName}" placeholder="First name" type="text" class="form-control" >
							                    </div>
							                
							                
							                    <div class="col-sm-6">
							                        <label for="lastName">Last name</label>
							                        <span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
							                        <input id="lastName" name="lastName" th:field="*{lastName}" placeholder="Last name" type="text" class="form-control" >
							                    </div>
							            </div>
									</div>
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
							                        <label for="nickName">Nickname</label>
							                        <input id="nickName" name="nickName" th:field="*{nickName}" placeholder="Nickname" type="text" class="form-control" >
							                    </div>
							                
							                
							                    <div class="col-sm-6">
							                        <label for="maritalStatus">Marital Status</label>
							                        <select class="form-control" name="maritalStatus" id="maritalStatus" th:field="*{maritalStatus}">
														<option value="SINGLE">SINGLE</option>
														<option value="MARRIED">MARRIED</option>
														<option value="WIDOWED">WIDOWED</option>
														<option value="SEPARATED">SEPARATED</option>
													</select>
							                    </div>
							            </div>
									</div>
									
									<div class="form-group">
										<div class="row">       
							                    <div class="col-sm-6">
							                        <label for="gender">Gender</label>
							                        <select id="gender" name="gender" class="form-control" th:field="*{gender}">
							                            <option value="MALE" selected="selected">MALE</option>
							                            <option value="FEMALE">FEMALE</option>
							                        </select>
							                    </div>
							                    
							                
							                    <div class="col-sm-6">
							                        <label for="birthdate">Birthdate</label>
							                        <input type="date" class="form-control" id="birthdate" name="birthdate" th:field="*{birthdate}" placeholder="enter your birthday" title="enter your birthday" />
							                    </div>
							            </div>
									</div>

									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="contactNumber">Mobile</label>
							                        <input id="contactNumber" name="contactNumber" title="enter your mobile number if any." th:field="*{contactNumber}" placeholder="enter mobile number" type="text" class="form-control">
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="emailAddress">Email</label>
							                        <input id="emailAddress" name="emailAddress" title="enter your email." th:field="*{email}" placeholder="Email Address" type="email" class="form-control" >
							                    </div>
							           </div>
									</div>
									
									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="profession">Profession</label>
							                        <input type="text" class="form-control" name="profession" th:field="*{profession}" id="profession" placeholder="Profession" />
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="seniorCitizenNumber">Senior Citizen Number</label>
							                        <input type="text" class="form-control" name="seniorCitizenNumber" id="seniorCitizenNumber" th:field="*{seniorCitizenNumber}" placeholder="Senior Citizen Number" />
							                    </div>
							           </div>
									</div>
									
									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="province">Province</label>
							                        <select class="form-control" name="province" id="province" th:field="*{province}" onchange="loadCities('city', this.value)">
		
													</select>
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="city">City</label>
							                        <select class="form-control" name="city" id="city" th:field="*{city}" onchange="loadCities('city', this.value)">
		
													</select>
							                    </div>
							           </div>
									</div>

									<div class="form-group">
										<div class="row">         
							                    <div class="col-sm-12">
							                        <label for="street">Street</label>
							                        <input id="street" name="street" th:field="*{street}" placeholder="Street" type="text" class="form-control" >
							                    </div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="emergencyContactName">Emergency Contact Name</label>
							                        <input id="emergencyContactName" name="emergencyContactName" th:field="*{emergencyContactName}" title="enter your emergency Contact Name if any." placeholder="Emergency Contact Name" type="text" class="form-control">
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="emergencyContactNumber">Emergency Contact Number</label>
							                        <input id="emergencyContactNumber" name="emergencyContactNumber" th:field="*{emergencyContactNumber}" title="enter your emergency Contact Number if any." placeholder="Emergency Contact Number" type="text" class="form-control">
							                    </div>
							           </div>
									</div>

									<div class="form-group">
										<div class="row">         
							                    <div class="col-sm-12">
							                        <label for="emergencyContactAddress">Emergency Contact Address</label>
							                        <input id="emergencyContactAddress" name="emergencyContactAddress" th:field="*{emergencyContactAddress}" placeholder="Emergency Contact Address" type="text" class="form-control" >
							                    </div>
										</div>
									</div>									

									<div class="form-group">
										<div class="row">         
							                    <div class="col-sm-12">
							                        <label for="notes">Notes</label>
							                        <input id="notes" name="notes" th:field="*{notes}" placeholder="Notes" type="text" class="form-control" >
							                    </div>
										</div>
									</div>	
									
									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="mothersname">Mother&apos;s Name</label>
							                        <input id="mothersname" name="mothersname" title="enter your Mothers Name" th:field="*{mothersname}" placeholder="Mother&apos;s Name" type="text" class="form-control">
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="mothersoccupation">Mother&apos;s Occupation</label>
							                        <input id="mothersoccupation" name="mothersoccupation" title="enter your Mothers Occupation" th:field="*{mothersoccupation}" placeholder="Mother&apos;s Occupation" type="text" class="form-control">
							                    </div>
							           </div>
									</div>
									
									<div class="form-group">
										<div class="row">    
							                    <div class="col-sm-6">
							                        <label for="fathersname">Father&apos;s Name</label>
							                        <input id="fathersname" name="fathersname" title="enter your Fathers Name" th:field="*{fathersname}" placeholder="Father&apos;s Name" type="text" class="form-control">
							                    </div>
							                    
							                    <div class="col-sm-6">
							                        <label for="fathersoccupation">Father&apos;s Occupation</label>
							                        <input id="fathersoccupation" name="fathersoccupation" title="enter your Fathers Occupation" th:field="*{fathersoccupation}" placeholder="Father&apos;s Occupation" type="text" class="form-control">
							                    </div>
							           </div>
									</div>
									
									
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<button type="submit" class="btn bg-primary">Save Info</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		<!-- /vertical form modal -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><span class="font-weight-semibold">Patient Master List</span></h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>					
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content pt-0">

				

				<div class="row">
					<div class="col-xl-12">		
					
							<!-- Basic datatable -->
						<div class="card">
							<div class="card-header header-elements-inline">
								<h5 class="card-title">Patient List</h5>
								<div class="header-elements">
									<div class="list-icons">				                				
				                		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_form_vertical">Add Patient</button>		                		
				                	</div>
			                	</div>
							</div>
		
							
		
							<table class="table datatable-basic" id="dataTables-hmoList" >
								<thead>
									<tr>
										<th>Patient Name</th>
										<th>Gender</th>										
										<th>Patient Notes</th>		
										<th>Contact No.</th>										
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="patient : ${patients}">
										<tr>
											<td id="hmoName" th:text="${patient.fullName}" width="30%;">Patient name</td>
											<td th:text="${patient.gender}" width="10%;">Gender</td>		
											<td th:text="${patient.notes}" width="30%;">Notes</td>										
											<td th:text="${patient.contactNumber}" width="15%;">Contact number</td>										
											<td class="text-center" width="15%;">
												<button th:onclick="|viewRecord('${patient.id}')|" class="btn btn-primary">View Record</button>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
							
							
						</div>
						<!-- /basic datatable -->	

							
						
					
						
						
					
					</div>
				</div>
				
				
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Main sidebar -->
			<div th:replace="fragments/common::emr-footer"></div>
			<!-- /Main sidebar -->
			
		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
		function setPatientIdInForm(id){
			//Set Id in Modal for CJ
			console.log($('#patientId').val());
			$('#patientId').val(id);
			console.log(document.getElementById('patientId').value);
		}
		
		function viewRecord(id){
			//Redirect to Patient Record
			let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
			window.location.href = contextRoot + "/emrpatientrecord/" + id;
		}

// start update profile photo
	    const fileSelect = document.getElementById('fileSelect');
        const profilePhoto = document.getElementById('photoFile');
	    fileSelect.addEventListener('click', (e) => {
        	if (profilePhoto) {
        		profilePhoto.click();
        	}
        }, false);
        profilePhoto.addEventListener('change', previewImage, false);
        
        function previewImage() {
	    	let input = document.getElementById('photoFile');
	    	let img = document.getElementById('photoPreview');
	    	if (input.files && input.files[0]) {
        		var reader = new FileReader();
        		reader.onload = function(e) {
        			img.src = e.target.result;
        		}
        		reader.readAsDataURL(input.files[0]);
        	}
	    }
//end update profile photo

	    $(document).ready(function() {     
	    	
	    	$(".nav-link").removeClass("active");
			$("#emrPatientListNav").addClass("active");
	    	
	    	let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';	    	
	    	let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'WARNING'){
				swal({
					title: "Possible Duplicate Record Created",
					text: msgDesc,
					icon: "warning",
					buttons: false,
		            timer: 3000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
	    	
	    	
	    	
	    });
    
    </script>

</body>
</html>
