<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Electronic Medical Records</title>
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar-patient-record-emr"></div>
	<!-- /Main Navbar -->
	
	<!-- Secondary navbar -->
	<div th:replace="fragments/common::emr-secondary-navbar-patient-record"></div>
	<!-- /secondary navbar -->

	
	<!-- Vertical form modal -->
				<div id="modal_form_vertical" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header bg-primary">
								<h5 class="modal-title">Others Information</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form id="uploadOthersForm" th:action="@{/upload/emrpatientOthers}" method="post" enctype="multipart/form-data">
								<input type="hidden" name="id" id="id" th:value="${id}" />
				    			<input type="hidden" name="patient.id" th:value="${patient.id}" />
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<label for="dateCreated">Date</label>
												<input id="dateCreated" name="dateCreated" placeholder="Date" type="datetime-local" class="form-control" >
											</div>									
							            </div>
									</div>				
									<div class="form-group">
										<div class="row">       
											<div class="col-sm-12">
												<label for="remarks">Notes</label>
												<textarea id="remarks" name="remarks" class="form-control instructions" rows="4"></textarea>
											</div>                    
							            </div>
									</div>		
									<div class="form-group">
										<div class="row">       
											<div class="col-sm-12">
													<div class="form-group row">												
														<div class="col-lg-12">
															<input type="file" class="file-input-preview-ian" id="othersFiles" name="othersFiles" multiple="multiple" accept="image/*">
															<span class="form-text text-muted">Upload Reminders: All Newly Uploaded Files will override the previous files uploaded.</span>
														</div>
													</div>											
												
											</div>                    
							            </div>
									</div>					
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<button type="submit" class="btn bg-primary">Save Info</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /vertical form modal -->
				
				
	
					
	<!-- Page content -->
	<div class="page-content">	


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">
			
				<!-- Inner container -->
				<div class="d-md-flex align-items-md-start">

					<!-- Left sidebar component -->
					<div th:replace="fragments/common::emr-left-side-patient-profile"></div>
					<!-- /left sidebar component -->

					<!-- Right content -->
					<div class="tab-content w-100">
						<div class="tab-pane fade active show" id="profile">
						
							<!-- Consultation Table -->
							<div class="row">
								<div class="col-xl-12">
									<!-- Basic datatable -->
									<div class="card">
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Others List</h5>
											<div class="header-elements">
												<div class="list-icons">				                				
							                		<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_form_vertical" id="addOthersButton">Add Others</button>		                		
							                	</div>
						                	</div>
										</div>
					
										<div class="card-body">
											<table class="table table-bordered table-hover" id="system-user-list">
												<thead>
													<tr>
														<th>Date</th>
														<th>Notes</th>
														<th><i class="fas fa-paperclip"></i></th>
														<th class="text-center">Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="others : ${emrPatientOthersList}">
														<td th:text="${#temporals.format(others.dateCreated,'MMM d, yyyy hh:mm a')}">Date</td>								
														<td th:text="${others.remarks}">Remarks</td>
														<td width="5px;">																			
															<span th:if="!${#lists.isEmpty(others.othersFileUrls)}"><i class="fas fa-paperclip"></i></span>
															<span th:unless="${others.othersFileUrls != ''}">&nbsp;</span>
														</td>
														<td class="text-center">
															<button th:id="|editOthersButton${others.id}|" class="btn btn-primary"
															    data-toggle="modal" data-target="#modal_form_vertical"
															    th:onclick="|editPatientOthers('${others.id}')|"
															    >View Record</button>
														</td>
													</tr>								
												</tbody>
											</table>
										</div>
					
										
									</div>
									<!-- /basic datatable -->					
								</div>
							</div>
							<!-- /Consultation Table -->

								

					    </div>				    	
					</div>
					<!-- /right content -->

				</div>
				<!-- /inner container -->
				

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
	
	    $(document).ready(function() {	    		    				
			
	    	$(".navbar-nav-link").removeClass("bg-slate-300");		
			$("#emrPatientOthers2ndNav").addClass("bg-slate-300");
	    	
			FileUpload.init();
	    });	    
	    
	</script>
	
	<!-- Start of Javascript -->
	<script th:inline="javascript">
	    let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/'';
	    let uploadOthersForm = document.getElementById('uploadOthersForm');
	    uploadOthersForm.addEventListener('submit', (e) => {
	    	e.preventDefault();
	    	
	    	let promise = fetch(contextRoot + '/upload/emrpatientOthers', {
	    		method: 'POST',
	    		body: new FormData(uploadOthersForm)
	    	})
	    	.then(res => res.json())
	    	.then(data => {
	    		console.log(data);
	    		swal({
					title: "Success!",
					text: "Files successfully uploaded.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				}).then(() => window.location.reload());	
	    	})
	    	.catch(err => console.log(err));	    	
	    });
	    
	    function editPatientOthers(id) {
	        let editOthersButton = document.getElementById('editOthersButton'+id);
	    	let others = fetch(contextRoot + '/api/patientOthers/'+id)
	    	    .then(res => res.json())
	    	    .then(data => {
	    	    	console.log(data);
	    	    	document.getElementById('id').value = data.id;
	    	    	document.getElementById('dateCreated').value = data.dateCreated;
	    	    	document.getElementById('remarks').value = data.remarks;

	    	    	let fiOpts = $('#othersFiles').data('fileinput');
	    	    	$('#othersFiles').fileinput('destroy').fileinput({
	    	    		showUpload: false,
	                    showRemove: false,
	                    showBrowse: false,
	                    showCaption: false,
	                    browseOnZoneClick: true,
	                    allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'txt'],
	                    initialPreview: data.othersFileUrls.map(u => contextRoot+u),
	                    initialPreviewConfig: [],
	                    initialPreviewAsData: true,
	                    deleteUrl: '',
	                    overwriteInitial: false,
	                    maxFileSize: 1024 * 10,
	                    previewZoomButtonClasses: fiOpts.previewZoomButtonClasses,
	                    previewZoomButtonIcons: fiOpts.previewZoomButtonIcons,
	                    fileActionSettings: fiOpts.fileActionSettings,
	                    initialPreviewShowDelete: false
	    	    	});
	    	    })
	    	    .catch(err => console.log(err));
	    }
    </script>
    
    <script th:inline="javascript">
	    var FileUpload = function() {
	
	        // Bootstrap file upload
		    var _componentFileUpload = function() {
	           if (!$().fileinput) {
	               console.warn('Warning - fileinput.min.js is not loaded.');
	               return;
	           }
	        
	           //
	           // Define variables
	           //
	        
	           // Modal template
	           //var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
		       //   '  <div class="modal-content">\n' +
		       //   '    <div class="modal-header align-items-center">\n' +
		       //   '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
		       //   '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
		       //   '    </div>\n' +
		       //   '    <div class="modal-body">\n' +
		       //   '      <div class="floating-buttons btn-group"></div>\n' +
		       //   '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
		       //   '    </div>\n' +
		       //   '  </div>\n' +
		       //   '</div>\n';
	        
	           // Buttons inside zoom modal
	           var previewZoomButtonClasses = {
	               toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
	               fullscreen: 'btn btn-light btn-icon btn-sm',
	               borderless: 'btn btn-light btn-icon btn-sm',
	               close: 'btn btn-light btn-icon btn-sm'
	           };
	        
	           // Icons inside zoom modal classes
	           var previewZoomButtonIcons = {
	               prev: '<i class="icon-arrow-left32"></i>',
	               next: '<i class="icon-arrow-right32"></i>',
	               toggleheader: '<i class="icon-menu-open"></i>',
	               fullscreen: '<i class="icon-screen-full"></i>',
	               borderless: '<i class="icon-alignment-unalign"></i>',
	               close: '<i class="icon-cross2 font-size-base"></i>'
	           };
	        
	           // File actions
	           var fileActionSettings = {
	               zoomClass: '',
	               zoomIcon: '<i class="icon-zoomin3"></i>',
	               dragClass: 'p-2',
	               dragIcon: '<i class="icon-three-bars"></i>',
	               removeClass: '',
	               removeErrorClass: 'text-danger',
	               removeIcon: '<i class="icon-bin"></i>',
	               downloadIcon: '<i class="icon-folder-download3"></i>',
	               indicatorNew: '<i class="icon-file-plus text-success"></i>',
	               indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
	               indicatorError: '<i class="icon-cross2 text-danger"></i>',
	               indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
	           };
	           
	           $('#othersFiles').fileinput({
	        	   showUpload: false,
	               showRemove: false,
	               showBrowse: false,
	               showCaption: false,
	               browseOnZoneClick: true,
	               allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'txt'],
	               initialPreview: [],
	               initialPreviewConfig: [],
	               initialPreviewAsData: true,
	               deleteUrl: '',
	               overwriteInitial: false,
	               maxFileSize: 1024 * 10,
	               previewZoomButtonClasses: previewZoomButtonClasses,
	               previewZoomButtonIcons: previewZoomButtonIcons,
	               fileActionSettings: fileActionSettings,
	               initialCaption: "Please select files to upload."
	           });
	           
	           // Disable/enable button
	           $('#btn-modify').on('click', function() {
	               $btn = $(this);
	               if ($btn.text() == 'Disable file input') {
	                   $('#file-input-methods').fileinput('disable');
	                   $btn.html('Enable file input');
	                   alert('Hurray! I have disabled the input and hidden the upload button.');
	               }
	               else {
	                   $('#file-input-methods').fileinput('enable');
	                   $btn.html('Disable file input');
	                   alert('Hurray! I have reverted back the input to enabled with the upload button.');
	               }
	           });
	        };
	        
	        
	        //
	        // Return objects assigned to module
	        //
	        
	        return {
	        	
	            init: function() {
	               _componentFileUpload();
	            }
	        }
		    }();
// start update profile photo
			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);
		    
        	let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	fd.append(/*[[${_csrf.parameterName}]]*/'_csrf',/*[[${_csrf.token}]]*/'_csrf_token')
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});
		    	
		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Patient Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					});
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Patient Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}
		    };
		    
		    function previewImage() {
				let input = document.getElementById('profilePhoto');
				let img = document.getElementById('photoPreview');
				if (input.files && input.files[0]) {
	        		var reader = new FileReader();
	        		reader.onload = function(e) {
	        			img.src = e.target.result;
	        		}
	        		reader.readAsDataURL(input.files[0]);
	        	}
			}
// end update profile photo

        $('#addOthersButton').click((e) => {
        	//clear values in form
        	$('#id').val(0);
        	$('#dateCreated').val(moment(new Date()).format('YYYY-MM-DDThh:mm'));
        	//$('#dateCreated').val(new Date().toISOString().substring(0,16));
        	$('#remarks').val('');
        	$('#othersFiles').fileinput('refresh');
        });
	</script>
</body>
</html>
