<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Electronic Medical Records</title>
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar-patient-record-emr"></div>
	<!-- /Main Navbar -->
	
	<!-- Secondary navbar -->
	<div th:replace="fragments/common::emr-secondary-navbar-patient-record"></div>
	<!-- /secondary navbar -->

	
	<!-- Vertical form modal -->
				<div id="modal_form_vertical" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header bg-success">
								<h5 class="modal-title">Imaging Information</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>

							<form id="uploadImgForm" th:action="@{/emrpatientImaging}" method="post" enctype="multipart/form-data" th:object="${EMRPatientImaging}">
							    <input type="hidden" name="id" id="id" th:value="${id}" />
							    <input type="hidden" name="patient.id" th:value="${patient.id}" />
								<div class="modal-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<label for="dateCreated">Date</label>
												<input th:field="*{dateCreated}" placeholder="Date" type="datetime-local" class="form-control" >
											</div>	
											<div class="col-sm-6">
												<label for="imaging_type_id">Type</label>
												<span class="validationError" th:if="${#fields.hasErrors('emrPatientImagingType')}" th:errors="*{emrPatientImagingType}"></span>
												<select id="imaging_type_id" name="emrPatientImagingType.id" class="form-control" th:field="*{emrPatientImagingType}">
							                        <option value="0">- Select Imaging Type -</option>
							                        <option th:each="imagingType : ${allImagingTypes}" th:value="${imagingType.id}" th:text="${imagingType.imagingTypeName}">
							                    </select>
											</div>								
							            </div>							            
									</div>				
									<div class="form-group">
										<div class="row">       
											<div class="col-sm-12">
												<label for="remarks">Notes</label>
												<span class="validationError" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></span>
												<textarea th:field="*{remarks}" class="form-control instructions" rows="4"></textarea>
											</div>                    
							            </div>
									</div>		
									<div class="form-group">
										<div class="row">       
											<div class="col-sm-12">
													<div class="form-group row">												
														<div class="col-lg-12">
															<input type="file" class="file-input-preview-ian" id="imgFiles" name="imgFiles" multiple="multiple" accept="image/*">
															<span class="form-text text-muted">Upload Reminders: All Newly Uploaded Files will override the previous files uploaded.</span>
														</div>
													</div>											
												
											</div>                    
							            </div>
									</div>					
								</div>

								<div class="modal-footer">
									<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
									<button type="submit" class="btn bg-success">Save Info</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- /vertical form modal -->
					
	<!-- Page content -->
	<div class="page-content">	

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">
				<div class="row">
					<div class="col-xl-2">
						<div th:replace="fragments/common::no_upload_pic_emr-left-side-patient-profile"></div>
					</div>
					<div class="col-xl-10">
						<!-- Imaging datatable -->
						<div class="card">
							<div class="card-header header-elements-inline bg-success">
								<h5 class="card-title">Imaging List</h5>
								<div class="header-elements">
									<div class="list-icons">				                				
						           		<button type="button" class="btn btn-outline" style="color: white; border: 1px solid white;" data-toggle="modal" data-target="#modal_form_vertical" id="addImagingButton">Add Imaging</button>		                		
						           	</div>
						       	</div>
							</div>
					
							<div class="card-body">
								<table class="table table-bordered table-hover" id="imaging-list">
									<thead>
										<tr>
											<th class="text-center">Actions</th>
											<th>Date</th>
											<th><i class="fas fa-paperclip"></i></th>
											<th>Type</th>
											<th>Notes</th>							
										</tr>
									</thead>
									<tbody>
										<tr th:each="img : ${emrPatientImagingList}">
											<td class="text-center">
												<button th:id="|editImgButton${img.id}|" class="btn btn-success"
												    data-toggle="modal" data-target="#modal_form_vertical"
												    th:onclick="|editPatientImaging('${img.id}')|"
												    >View Record</button>
											</td>
											<td th:text="${#temporals.format(img.dateCreated,'MMM d, yyyy hh:mm a')}">Date</td>
											<td width="5px;">																			
												<span th:if="!${#lists.isEmpty(img.imgFileUrls)}"><i class="fas fa-paperclip"></i></span>
												<span th:unless="${img.imgFileUrls != ''}">&nbsp;</span>
											</td>
											<td th:text="${img.emrPatientImagingType.imagingTypeName}">imagingTypeName</td>								
											<td th:text="${img.remarks}">Notes</td>						
										</tr>								
									</tbody>
								</table>
							</div>
						</div>
						<!-- /Imaging datatable -->
					</div>
				</div>
							
			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
	    $(document).ready(function() {	    
	    	
	    	$('#imaging-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				"scrollX": true,
			});
			
	    	//$(".navbar-nav-link").removeClass("bg-slate-300");		
			//$("#emrPatientImaging2ndNav").addClass("bg-slate-300");
	    	
			FileUpload.init();
	    });	    
	    
	</script>
	
	<!-- Start of Javascript -->
	<script th:inline="javascript">
	    let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/'';
	    let uploadImgForm = document.getElementById('uploadImgForm');
	    let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
		let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
		
		$(document).ready(function() {
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				$('#id').val(0);
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: "Files successfully uploaded.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
		});
		
	    function editPatientImaging(id) {
	        let editLabButton = document.getElementById('editImgButton'+id);
	    	let lab = fetch(contextRoot + '/api/patientImaging/'+id)
	    	    .then(res => res.json())
	    	    .then(data => {
	    	    	console.log(data);
	    	    	document.getElementById('id').value = data.id;
	    	    	document.getElementById('dateCreated').value = data.dateCreated;
	    	    	document.getElementById('remarks').value = data.remarks;
	    	    	document.getElementById('imaging_type_id').value = data.emrPatientImagingType.id;

	    	    	let fiOpts = $('#imgFiles').data('fileinput');
	    	    	$('#imgFiles').fileinput('destroy').fileinput({
	    	    		showUpload: false,
	                    showRemove: false,
	                    showBrowse: false,
	                    showCaption: false,
	                    browseOnZoneClick: true,
	                    allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'txt'],
	                    initialPreview: data.imgFileUrls.map(u => contextRoot+u),
	                    initialPreviewConfig: [],
	                    initialPreviewAsData: true,
	                    deleteUrl: '',
	                    overwriteInitial: false,
	                    maxFileSize: 1024 * 10,
	                    previewZoomButtonClasses: fiOpts.previewZoomButtonClasses,
	                    previewZoomButtonIcons: fiOpts.previewZoomButtonIcons,
	                    fileActionSettings: fiOpts.fileActionSettings,
	                    initialPreviewShowDelete: false
	    	    	});
	    	    })
	    	    .catch(err => console.log(err));
	    }
    </script>
    
    <script th:inline="javascript">
   		var FileUpload = function() {

            // Bootstrap file upload
		    var _componentFileUpload = function() {
               if (!$().fileinput) {
                   console.warn('Warning - fileinput.min.js is not loaded.');
                   return;
               }
            
               //
               // Define variables
               //
            
               // Modal template
               // var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
               //     '  <div class="modal-content">\n' +
               //     '    <div class="modal-header align-items-center">\n' +
               //     '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
               //     '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
               //     '    </div>\n' +
               //     '    <div class="modal-body">\n' +
               //     '      <div class="floating-buttons btn-group"></div>\n' +
               //     '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
               //     '    </div>\n' +
               //     '  </div>\n' +
               //     '</div>\n';
            
               // Buttons inside zoom modal
               var previewZoomButtonClasses = {
                   toggleheader: 'btn btn-light btn-icon btn-header-toggle btn-sm',
                   fullscreen: 'btn btn-light btn-icon btn-sm',
                   borderless: 'btn btn-light btn-icon btn-sm',
                   close: 'btn btn-light btn-icon btn-sm'
               };
            
               // Icons inside zoom modal classes
               var previewZoomButtonIcons = {
                   prev: '<i class="icon-arrow-left32"></i>',
                   next: '<i class="icon-arrow-right32"></i>',
                   toggleheader: '<i class="icon-menu-open"></i>',
                   fullscreen: '<i class="icon-screen-full"></i>',
                   borderless: '<i class="icon-alignment-unalign"></i>',
                   close: '<i class="icon-cross2 font-size-base"></i>'
               };
            
               // File actions
               var fileActionSettings = {
                   zoomClass: '',
                   zoomIcon: '<i class="icon-zoomin3"></i>',
                   dragClass: 'p-2',
                   dragIcon: '<i class="icon-three-bars"></i>',
                   removeClass: '',
                   removeErrorClass: 'text-danger',
                   //removeIcon: '<i class="icon-bin"></i>',
                   downloadIcon: '<i class="icon-folder-download3"></i>',
                   indicatorNew: '<i class="icon-file-plus text-success"></i>',
                   indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
                   indicatorError: '<i class="icon-cross2 text-danger"></i>',
                   indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
               };
               
               $('.file-input-preview-ian').fileinput({
                   showUpload: false,
                   showRemove: false,
                   showBrowse: false,
                   showCaption: false,
                   browseOnZoneClick: true,
                   allowedFileExtensions: ['jpg', 'png', 'gif', 'pdf', 'txt'],
                   //layoutTemplates: {
                   //    icon: '<i class="icon-file-check"></i>',
                   //    modal: modalTemplate
                   //},
                   initialPreview: [],
                   initialPreviewConfig: [],               
                   initialPreviewAsData: true,
                   deleteUrl: '',
                   overwriteInitial: false,
                   maxFileSize: 10240,
                   previewZoomButtonClasses: previewZoomButtonClasses,
                   previewZoomButtonIcons: previewZoomButtonIcons,
                   fileActionSettings: fileActionSettings,
                   //initialCaption: "Please select files to upload."
               });
               
               // Disable/enable button
               $('#btn-modify').on('click', function() {
                   $btn = $(this);
                   if ($btn.text() == 'Disable file input') {
                       $('#file-input-methods').fileinput('disable');
                       $btn.html('Enable file input');
                       alert('Hurray! I have disabled the input and hidden the upload button.');
                   }
                   else {
                       $('#file-input-methods').fileinput('enable');
                       $btn.html('Disable file input');
                       alert('Hurray! I have reverted back the input to enabled with the upload button.');
                   }
               });
            };

            //
            // Return objects assigned to module
            //

            return {
                init: function() {
                    _componentFileUpload();
                }
            }
   	    }();

// start update profile photo
		const fileSelect = document.getElementById('fileSelect');
		const profilePhoto = document.getElementById('profilePhoto');
		fileSelect.addEventListener('click', (e) => {
	    	if (profilePhoto) {
	    		profilePhoto.click();
	    	}
	    }, false);
		profilePhoto.addEventListener('change', previewImage, false);
		
        let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        let fileUploadForm = document.getElementById('fileUploadForm');
		fileUploadForm.onsubmit = async (e) => {
			e.preventDefault();
			let fd = new FormData(fileUploadForm);
			fd.append(/*[[${_csrf.parameterName}]]*/'_csrf',/*[[${_csrf.token}]]*/'_csrf_token')
			let response = await fetch(uploadUrl, {
				method: 'POST',
				body: fd
			});
			
			if(response.ok){
				swal({
					title: "Success!",
					text: "Patient Photo successfully saved.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			} else {
				swal({
					title: "Upload Failure!",
					text: "Patient Photo not uploaded successfully.",
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			}
		};
		
		function previewImage() {
			let input = document.getElementById('profilePhoto');
			let img = document.getElementById('photoPreview');
			if (input.files && input.files[0]) {
	    		var reader = new FileReader();
	    		reader.onload = function(e) {
	    			img.src = e.target.result;
	    		}
	    		reader.readAsDataURL(input.files[0]);
	    	}
		}
// end update profile photo

        $('#addImagingButton').click((e) => {
        	//clear values in form
        	$('#id').val(0);
        	$('#dateCreated').val(moment(new Date()).format('YYYY-MM-DDTHH:mm'));
        	$('#imaging_type_id').val(0);
        	$('#remarks').val('');
        	$('#imgFiles').fileinput('refresh');
        });
    </script>
</body>
</html>
