<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Electronic Medical Records</title>
	
	<style type="text/css">
	
		.float{
			position:fixed;			
			bottom:100px;
			right:40px;			
		}
		
		.float2{
			position:fixed;			
			bottom:100px;
			right:140px;			
		}
		
		.my-float{
			margin-top:22px;
		}

	</style>
	
</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar-patient-record-emr"></div>
	<!-- /Main Navbar -->
	
	<!-- Secondary navbar -->
	<div th:replace="fragments/common::emr-secondary-navbar-patient-record"></div>
	<!-- /secondary navbar -->
					
	<!-- Page content -->
	<div class="page-content">	


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">
				<div class="row">
					<div class="col-xl-2">
						<div th:replace="fragments/common::new_emr-left-side-patient-profile"></div>
					</div>
					<div class="col-xl-10">
						<!-- Patient Profile Content -->
							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header header-elements-inline bg-violet-600">
											<h6 class="card-title">Patient Information Summary</h6>											
										</div>
			
										<div class="card-body">
											<form th:action="@{/emrpatientprofile}" method="post" th:object="${patient}">
															<input type="hidden" th:field="*{doctor.id}" name="doctorId" id="doctorId">
															<input type="hidden" th:field="*{isActive}" name="isActive" id="isActive">
															<input type="hidden" th:field="*{id}" id="id" name="id" >
															<input type="hidden" th:field="*{patientPhoto}" />
															<div class="modal-body">
																<div class="form-group">
																	<div class="row">
																		<div class="col-sm-6">
																			<label for="firstName">First name</label>
																			<span class="validationError text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
																			<input id="firstName" name="firstName" th:field="*{firstName}" placeholder="First name" type="text" class="form-control" >
																		</div>
														                
														                
																		<div class="col-sm-6">
																			<label for="lastName">Last name</label>
																			<span class="validationError text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
																			<input id="lastName" name="lastName" th:field="*{lastName}" placeholder="Last name" type="text" class="form-control" >
																		</div>
														            </div>
																</div>
																
																<div class="form-group">
																	<div class="row">
																		<div class="col-sm-6">
																			<label for="nickName">Nickname</label>
																			<input id="nickName" name="nickName" th:field="*{nickName}" placeholder="Nickname" type="text" class="form-control" >
																		</div>                
														                
																		<div class="col-sm-6">
														                        <label for="maritalStatus">Marital Status</label>
														                        <select class="form-control" name="maritalStatus" id="maritalStatus" th:field="*{maritalStatus}">
																					<option value="SINGLE">SINGLE</option>
																					<option value="MARRIED">MARRIED</option>
																					<option value="WIDOWED">WIDOWED</option>
																					<option value="SEPARATED">SEPARATED</option>
																				</select>
														                    </div>
														            </div>
																</div>
																
																<div class="form-group">
																	<div class="row">       
														                    <div class="col-sm-6">
														                        <label for="gender">Gender</label>
														                        <select id="gender" name="gender" class="form-control" th:field="*{gender}">
														                            <option value="MALE" selected="selected">MALE</option>
														                            <option value="FEMALE">FEMALE</option>
														                        </select>
														                    </div>
														                    
														                
														                    <div class="col-sm-6">
														                        <label for="birthdate">Birthdate</label>
														                        <input type="date" class="form-control" id="birthdate" name="birthdate" th:field="*{birthdate}" placeholder="enter your birthday" title="enter your birthday" />
														                    </div>
														            </div>
																</div>
							
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="contactNumber">Mobile</label>
														                        <input id="contactNumber" name="contactNumber" title="enter your mobile number if any." th:field="*{contactNumber}" placeholder="enter mobile number" type="text" class="form-control">
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="emailAddress">Email</label>
														                        <input id="emailAddress" name="emailAddress" title="enter your email." th:field="*{email}" placeholder="Email Address" type="email" class="form-control" >
														                    </div>
														           </div>
																</div>
																
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="profession">Profession</label>
														                        <input type="text" class="form-control" name="profession" th:field="*{profession}" id="profession" placeholder="Profession" />
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="seniorCitizenNumber">Senior Citizen Number</label>
														                        <input type="text" class="form-control" name="seniorCitizenNumber" id="seniorCitizenNumber" th:field="*{seniorCitizenNumber}" placeholder="Senior Citizen Number" />
														                    </div>
														           </div>
																</div>
																
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="province">Province</label>
														                        <select class="form-control" name="province" id="province" th:data-province="*{province}" onchange="loadCities('city', this.value)">
																				</select>
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="city">City</label>
														                        <select class="form-control" name="city" id="city" th:data-city="*{city}">
																				</select>
														                    </div>
														           </div>
																</div>
							
																<div class="form-group">
																	<div class="row">         
														                    <div class="col-sm-12">
														                        <label for="street">Street</label>
														                        <input id="street" name="street" th:field="*{street}" placeholder="Street" type="text" class="form-control" >
														                    </div>
																	</div>
																</div>
																
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="emergencyContactName">Emergency Contact Name</label>
														                        <input id="emergencyContactName" name="emergencyContactName" th:field="*{emergencyContactName}" title="enter your emergency Contact Name if any." placeholder="Emergency Contact Name" type="text" class="form-control">
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="emergencyContactNumber">Emergency Contact Number</label>
														                        <input id="emergencyContactNumber" name="emergencyContactNumber" th:field="*{emergencyContactNumber}" title="enter your emergency Contact Number if any." placeholder="Emergency Contact Number" type="text" class="form-control">
														                    </div>
														           </div>
																</div>
							
																<div class="form-group">
																	<div class="row">         
														                    <div class="col-sm-12">
														                        <label for="emergencyContactAddress">Emergency Contact Address</label>
														                        <input id="emergencyContactAddress" name="emergencyContactAddress" th:field="*{emergencyContactAddress}" placeholder="Emergency Contact Address" type="text" class="form-control" >
														                    </div>
																	</div>
																</div>									
							
																<div class="form-group">
																	<div class="row">         
														                    <div class="col-sm-12">
														                        <label for="notes">Notes</label>
														                        <input id="notes" name="notes" th:field="*{notes}" placeholder="Notes" type="text" class="form-control" >
														                    </div>
																	</div>
																</div>	
																
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="mothersname">Mother&apos;s Name</label>
														                        <input id="mothersname" name="mothersname" title="enter your Mothers Name" th:field="*{mothersname}" placeholder="Mother&apos;s Name" type="text" class="form-control">
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="mothersoccupation">Mother&apos;s Occupation</label>
														                        <input id="mothersoccupation" name="mothersoccupation" title="enter your Mothers Occupation" th:field="*{mothersoccupation}" placeholder="Mother&apos;s Occupation" type="text" class="form-control">
														                    </div>
														           </div>
																</div>
																
																<div class="form-group">
																	<div class="row">    
														                    <div class="col-sm-6">
														                        <label for="fathersname">Father&apos;s Name</label>
														                        <input id="fathersname" name="fathersname" title="enter your Fathers Name" th:field="*{fathersname}" placeholder="Father&apos;s Name" type="text" class="form-control">
														                    </div>
														                    
														                    <div class="col-sm-6">
														                        <label for="fathersoccupation">Father&apos;s Occupation</label>
														                        <input id="fathersoccupation" name="fathersoccupation" title="enter your Fathers Occupation" th:field="*{fathersoccupation}" placeholder="Father&apos;s Occupation" type="text" class="form-control">
														                    </div>
														           </div>
																</div>
															</div>
							
															<div class="modal-footer">									
																<button type="submit" class="btn bg-violet-400 btn-float float"><i class="icon-floppy-disk"></i><span> Save Info</span></button>
																<button type="submit" class="btn bg-teal-400 btn-float float2 scrollToTop"><i class="icon-floppy-disk"></i><span> Scroll to Top</span></button>
															</div>
														</form>
										</div>
									</div>
								</div>
							
							</div>
					</div>
				</div>
										

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	
	<script th:inline="javascript">
	
	    $(document).ready(function() {	 
	    	
	    	$(window).scroll(function(){
	            if ($(this).scrollTop() > 100) {
	                $('.scrollToTop').fadeIn();
	            } else {
	                $('.scrollToTop').fadeOut();
	            }
	        });
	        
	        //Click event to scroll to top
	        $('.scrollToTop').click(function(){
	            $('html, body').animate({scrollTop : 0},800);
	            return false;
	        });
	    	
	    	loadProvinces('province');
	    	var province = $('#province').attr('data-province');
	    	$('#province').val(province);

	    	if(province === undefined){
	    		loadCities('city','MM');
	    	} else {
	    		loadCities('city',province);
	    	}
	    	
	    	var city = $('#city').attr('data-city');
	    	$('#city').val(city);

	    	if (!province) {
	    		$('#province')[0].selectedIndex = 1;
	    		$('#city')[0].selectedIndex = 0;
	    	}
	    	else if (!city) {
	    		$('#city')[0].selectedIndex = 0;
	    	}
			
	    	//$(".navbar-nav-link").removeClass("bg-slate-300");		
			//$("#emrPatientProfile2ndNav").addClass("bg-slate-300");

			// start update profile photo
			const fileSelect = document.getElementById('fileSelect');
		    const profilePhoto = document.getElementById('profilePhoto');
			fileSelect.addEventListener('click', (e) => {
	        	if (profilePhoto) {
	        		profilePhoto.click();
	        	}
	        }, false);
		    profilePhoto.addEventListener('change', previewImage, false);
		    
        	let uploadUrl = /*[[${#request.getContextPath() + '/file/upload/profilePhoto'}]]*/'';
        	let fileUploadForm = document.getElementById('fileUploadForm');
		    fileUploadForm.onsubmit = async (e) => {
		    	e.preventDefault();
		    	let fd = new FormData(fileUploadForm);
		    	fd.append(/*[[${_csrf.parameterName}]]*/'_csrf',/*[[${_csrf.token}]]*/'_csrf_token')
		    	let response = await fetch(uploadUrl, {
		    		method: 'POST',
		    		body: fd
		    	});
		    	
		    	if(response.ok){
		    		swal({
						title: "Success!",
						text: "Patient Photo successfully saved.",
						icon: "success",
						buttons: false,
			            timer: 2000,
					}).then(() => window.location.reload());
		    	} else {
		    		swal({
						title: "Upload Failure!",
						text: "Patient Photo not uploaded successfully.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		    	}
		    };
		    
		    function previewImage() {
				let input = document.getElementById('profilePhoto');
				let img = document.getElementById('photoPreview');
				if (input.files && input.files[0]) {
	        		var reader = new FileReader();
	        		reader.onload = function(e) {
	        			img.src = e.target.result;
	        		}
	        		reader.readAsDataURL(input.files[0]);
	        	}
			}
// end update profile photo

	    	$(".nav-link").removeClass("active");
			$("#emrDoctorProfileNav").addClass("active");
	    	
	    	let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';	    	
	    	let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: "Profile successfully saved.",
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
	    	
	    	
	    	
	    });
	</script>

</body>
</html>
